.root {
    -fx-font-family: helvetica;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
}
.gridpane{
    -fx-padding: 10px;
    -fx-min-width: 200px;
}
.contactlist{
    -fx-max-width: 120;
    -fx-max-height: 200;
}
.titlelabel{
	-fx-font-size: 25px;
	}
.box{
	-fx-padding: 10px;
    -fx-alignment: center;
    -fx-border-spacing: 10px;
    -fx-spacing: 15px;
    }
.centerbox{
	-fx-alignment: center;
}
.buttonbox{
	-fx-alignment: center;
	-fx-spacing: 20px;
}
.contentbox{
	-fx-spacing: 10px;
}